@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.woff?28z8dr") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"],
.text-holder a:before,
.blue:before,
.red:before,
.yellow:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e900";
  color: #fff;
}
.icon-pensil:before {
  content: "\e901";
  color: #fff;
}
.icon-screen:before {
  content: "\e902";
  color: #fff;
}
.icon-symbol:before {
  content: "\e903";
  color: #fff;
}
